<!DOCTYPE html>
<html lang ="ja">
  <head>
    <meta charset="UTF-8">
    <meta name='description' content='プシューアプリカタログでは、プシューが作ったアプリの、購入等が可能です。'>
    <meta name="keywords" content="プシューアプリ,顔文字作成機,メモ帳,ウェブアプリ,ダウンロード可能,無料">
    <meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=6.0, minimum-scale=1.0">
    <meta name="twitter:card" content="Summary_large_Image">
    <meta name="twitter:site" content="@PusyuuOfficial">
    <meta name="twitter:title" content="プシューアプリカタログ - ホーム">
    <meta name="twitter:description" content="プシューアプリカタログでは、プシューが作ったアプリの、購入等が可能です。">
    <meta name="twitter:image" content="https://21emon.wjg.jp/SystemFolder/IconData/kamibukuro.png">
    <title>プシューアプリカタログ - ホーム</title>
    <link rel="shortcut icon" href="../SystemFolder/IconData/favicon.ico">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <!--
        *----------------------------------
        |  ThisPageVersion: 2.3.1       |
        |  © 2021-2023 By Pusyuu        |
        |  LastUpdate: 2023-10-03       |
        |  License: MIT License         |
        |  ・。・プシューカタログ㌨     |
      ----------------------------------*
    -->
  </head>
  <body>
    <header>
      <a class="downl_button" style="display: inline-block;" href="https://21emon.wjg.jp/cgi-bin/public/contact_form/contact.php">プシューにお問合せ</a>
    </header>
    <div class="title_box">
      <h1>プシューアプリカタログへようこそ</h1>
      <p>こちらのサービスでは、プシューが作ったアプリを閲覧、無料のアプリや有料アプリなどの、購入(ダウンロード)等が可能です。</p>
      <p>アプリカタログはプシューページの利用規約に元図いて実装されていますそのため利用規約・プライバシーポリシーをご覧になって同意されてからご利用ください（<a href="https://21emon.wjg.jp/SystemFolder/PageData/p6/content.php" target="_blank">利用規約</a>）・（<a style="padding: 5px;" href="https://21emon.wjg.jp/SystemFolder/PageData/p7/content.php" target="_blank">プライバシーポリシー</a>）はこの欄から、ご覧になれます。</p>
    </div>
    <div style="margin-bottom: 75px;">
      <div class="flex-wrapper" id="app">
        <article v-for="(card, index) in cards" :key="index" class="catalog_card">
          <a :href="card.link" class="catalog_card_link">
            <span v-if="card.new" class="catalog_card_label">New</span>
            <img :src="card.image" :alt="card.imageAlt" class="catalog_card_image" oncontextmenu="return false;" ondragstart="return false;" />
            <div class="catalog_card_info">
              <time :datetime="card.date" class="catalog_card_time">{{ card.date }}</time>
              <h2 class="catalog_card_headline">{{ card.title }}</h2>
            </div>
          </a>
        </article>
      </div>
    </div>
    <script src="./catalog_list.vue"></script>
  </body>
</html>