@charset"UTF-8";

body {
  background-color: #000;
  color: #fff;
  margin: 0;
}

/*****************************************
  *----------------------------------
  |  ThisCssVersion: 1.4.2        |
  |  © 2021-2024 By PusyuuWanko/  |
  |  LastUpdate: 2023-12-06       |
  |  License: MIT License         |
  |  PusyuuAppCatalog             |
----------------------------------*
******************************************/

a {
  color: #fff000;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(225,225,225,0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  z-index: 1;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;	
}
.f_box-1 {
  width: 40vw;
  hwight: auto;
  margin: 10px auto 10px;
}

.downl_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.downl_buttons > a {
  padding: 10px;
  border: 1px solid #00ff00;
  border-radius: 50px;
  text-decoration: none;
  color: #00ff00;
  transition: all 0.5s;
  margin: 5px;
}
.downl_buttons > a:hover {
  border: 1px solid #000000;
  color: #ccc;
  text-decoration: none;
}

.title_box {
  padding: 15px 35px 15px;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.image_box {
  border-radius: 10px;
  overflow: hidden;
  width: auto;
  height: 250px;
}
.image_box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog_card {
  margin: 5px;
  width: 20vw;
  border: 0.5px solid #00ff00;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s;
}
.catalog_card:hover {
  border: 0.5px solid #000000;
  background-color: #666666;
}
.catalog_card_link {
  text-decoration: none;
}
.catalog_card_link:hover {
  text-decoration: none;
}
.catalog_card_label {
  background-color: rgba(150,150,150,0.5);
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc
}
.catalog_card_image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.catalog_card_info {
  padding: 10px;
  display: block;
  height: 100px;
}
.catalog_card_time {
  color: #80ff00;
}
.catalog_card_headline {
  color: #00ff00;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.catalog_card_description {
  color: #fff;
}

@media only screen and (max-width:750px) {
  .f_box-1 {
    width: auto;
    padding: 10px;
  }
  .catalog_card {
    width: 80vw;
    height: auto;
  }
  .title_box {
    padding: 15px;
  }
  .catalog_card_image {
    height: 230px;
  }
}
